@{
	ViewData["Title"] = "Index";
}

<div id="chat-home"
	 class="d-flex align-items-center justify-content-center">
	<div id="chat-home-content">
		<img src="~/assets/img/Chat Home.png" alt="" />
		<p class="text-center">Waiting Chat</p>
	</div>
</div>