@{
	Layout = null;
}

@model VmChatList


<ul id="chat-list">
	@foreach (var user in Model.customUsers)
	{
		<a asp-controller = "chat" asp-action = "Index" asp-route-id = "@user.Id" style = "color : transparent">
		<li class="d-flex w-100">
			<div class="profile-img">
					@{
						if (user.Profile != null)
						{
						<img src="~/assets/img/profiles/@user.Profile" />
						}
						else
						{
						<img src="~/assets/img/profile.png" />
						}
					}
			</div>
			<div class="list-message">
				<div class="message-head d-flex justify-content-between">
					<h6>@user.Fullname</h6>
					<span>12:00</span>
				</div>
				<div class="message-content d-flex justify-content-between">
					<p>message</p>
					<span>2</span>
				</div>
			</div>
		</li>
		</a>
	}
</ul>

