@{
	Layout = null;
}

@model string

<div class="profile-img">
	@{
		if (Model != null)
		{
			<img src="~/assets/img/@Model" />
		}
		else
			{
				<img src="~/assets/img/profile.png" alt="#" />
			}
		}
</div>